<div class="header-toolbar">
    <mat-toolbar>
      <mat-toolbar-row>
          Topic {{topic.id}}, created {{topic.timestamp}}
      </mat-toolbar-row>
      <mat-toolbar-row>
          {{topic.description}}
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

<div *ngFor="let note of topic.notes">
  <br>
  No.{{note.id}}, Creation time: {{note.timestamp}}
  <br>
  Author: {{note.author}}
  <br>
  {{note.text}}
  <br>
  <br>
</div>

<div>
    <h2>Add note</h2>
    <form (submit)="addNote(author.value, text.value)">
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" #author id="author" required>
      </div>
      <div class="form-group">
          <label for="text">Text:</label>
          <input type="text" class="form-control" #text id="text" required>
      </div>
  
      <button type="submit" class="btn btn-success">Add</button>
  
    </form>


</div>