.topic-card {
    min-width: 190px;
    height: 200px;
  }

  .header-toolbar{
      padding: 10px 10px
  }

  mat-card-title {
      height: 2em;
  }

  .text-area {
    display: flex;
    flex-direction: column;
  }
  
  .text-area > * {
    width: 100%;
  }