<h2>Topic list</h2>
<div *ngFor="let topic of topics">
  <br>
  No.{{topic.id}}, Creation time: {{topic.timestamp}}
  <br>
  Description: {{topic.description}}
  <br>

  <button routerLink="/topic/{{topic.id}}">Show topic</button>
  <!-- <button (click)="deleteTopic(topic.id)">Delete topic</button> -->
  <button >Delete topic</button>
  
  <br>
  <br>
</div>

<div class="container">
    <h2>Add topic</h2>
    <form (submit)="addTopic(description.value)">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" #description id="description" required>
      </div>
  
      <button type="submit" class="btn btn-success">Add</button>
  
    </form>
  </div>

