.topic-card {
    min-width: 190px;
    height: 200px;
    padding: 5px;
    margin: 5px;
  }

  .header-toolbar{
      padding: 10px 0px
  }

  mat-card-title {
      height: 2em;
  }

  .text-area {
    display: flex;
    flex-direction: column;
  }
  
  .text-area > * {
    width: 100%;
  }

  .topic-button{
    width: 20%;
    margin: 5px;
    padding: 5px;
  }